<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Resources for report2Chart -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/amstock.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <link rel="stylesheet" href="/css/reportChart.css">
    <link rel="stylesheet" href="/css/indexAdmin.css">
    <% include partials/bootstrap %>
    <title><%= title %></title>
</head>
<body>
    <% include partials/navbar_admin %>
    <br><br><br><br>
    <div id="chartdiv"></div>

<script>
           
    function generatechartDataAmount() {  
                              
        var data = [];                
        var amounts2017 = [];
        var amounts2018 = [];
        var allAmounts2017 = [];
        var allAmounts2018 = [];
        var allDates = [];
        var dates = [];

        <% for (var i = 0; i < orders.length; i++) { %>
            var date = new Date("<%= orders[i]._id %>");
            if(date.toString().includes('2017')){
                allAmounts2017.push(<%= orders[i].amount %>);
            }

            if(date.toString().includes('2018')){
                allDates.push(date);
                allAmounts2018.push(<%= orders[i].amount %>);
            }
        <% } %>

        for (var i = 0; i < allDates.length; i = i + 7) {
            dates.push(allDates[i]);
        }

        for (var i = 0; i < allAmounts2017.length; i = i + 7) {
            var pom = 0;
            for (var j = 0; j < 7; j++) {
                pom += allAmounts2017[i+j];
            }
            amounts2017.push(pom);
        }

        for (var i = 0; i < allAmounts2018.length; i = i + 7) {
            var pom = 0;
            for (var j = 0; j < 7; j++) {
                pom += allAmounts2018[i+j];
            }
            amounts2018.push(pom);
        }

        for (var i = 0; i < dates.length; i++) {
            data.push({
                date: dates[i],
                amount2018: amounts2018[i],
                amount2017: amounts2017[i]                        
            });
        }
        return data;
    }


    var chartDataAmount = generatechartDataAmount();
    
    
    
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "none",
        "dataDateFormat": "YYYY-MM-DD",
        "precision": 0,
        "valueAxes": [{
            "id": "v1",
            "title": "amount",
            "position": "left",
            "autoGridCount": false,
            "labelFunction": function(value) {
                return Math.round(value);
            }
        }],
        "graphs": [{
            "id": "g3",
            "valueAxis": "v1",
            "lineColor": "#edc30b",
            "fillColors": "#fdd81a",
            //"fillAlphas": 1,
            "lineThickness": 2,
            //"type": "smoothedLine",
            "type": "line",
            "title": "2017",
            "valueField": "amount2017",
            "clustered": false,
            //"columnWidth": 1.5,
            "legendValueText": "[[value]]",
            "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]]</b>"
        }, {
            "id": "g4",
            "valueAxis": "v1",
            "lineColor": "#20acd4",
            "fillColors": "#76BEE0",
            //"fillAlphas": 1,
            "lineThickness": 2,
            //"type": "smoothedLine",
            "type": "line",
            "title": "2018",
            "valueField": "amount2018",
            "clustered": false,
            //"columnWidth": 1.2,
            "legendValueText": "[[value]]",
            "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]]</b>"
        }],
        "chartScrollbar": {
            "graph": "g4",
            "oppositeAxis": false,
            "offset": 30,
            "scrollbarHeight": 30,
            "backgroundAlpha": 0,
            "selectedBackgroundAlpha": 0.1,
            "selectedBackgroundColor": "#888888",
            "graphFillAlpha": 0,
            "graphLineAlpha": 0.5,
            "selectedGraphFillAlpha": 0,
            "selectedGraphLineAlpha": 1,
            "autoGridCount": true,
            "color": "#AAAAAA"
        },
        "chartCursor": {
            "pan": true,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "cursorAlpha": 0,
            "valueLineAlpha": 0.2
        },
        "categoryField": "date",
        "categoryAxis": {
            "parseDates": true,
            "dashLength": 1,
            "minorGridEnabled": true
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top"
        },
        "balloon": {
            "borderThickness": 1,
            "shadowAlpha": 0
        },
        "export": {
            "enabled": true
        },
        "dataProvider": chartDataAmount,
        "titles": [{
            "text": "Amount per week",
            "size": 30
        }]
    });
</script>
</body>
</html>